/*  https://web.dev/one-line-layouts/ // I consider this a great resource, and almost CSS framework: */

.ex1 .parent {
    display: grid;
    place-items: center;
    }
.ex2 .parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.ex2 .box {
    flex: 1 1 150px; /*  Stretching: */
    flex: 0 1 150px; /*  No stretching: */
    margin: 5px;
}
.ex3 .parent {
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr;
}
.ex4 .parent {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.ex5 .parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}
.ex5 header {
    padding: 2rem;
    grid-column: 1 / 4;
}
.ex5 .left-side {
    grid-column: 1 / 2;
}
.ex5 main {
    grid-column: 2 / 3;
}
.ex5 .right-side {
    grid-column: 3 / 4;
}
.ex5 footer {
    grid-column: 1 / 4;
}
.ex6 .parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.ex6 .span-12 {
    grid-column: 1 / span 12;
}
.ex6 .span-6 {
    grid-column: 1 / span 6;
}
.ex6 .span-4 {
    grid-column: 4 / span 4;
}
.ex6 .span-2 {
    grid-column: 3 / span 2;
}
/* centering text */
.ex6 .section {
    display: grid;
    place-items: center;
    text-align: center
}
.ex7 .parent {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.ex8 .parent {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.ex8 .visual {
    height: 100px;
    width: 100%;
}
.ex8 .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.ex9 .parent {
    display: grid;
    place-items: center;
}
.ex9 .card {
    width: clamp(23ch, 50%, 46ch);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow: hidden;
}
.ex9 .visual {
    height: 125px;
    width: 100%;
}
.ex10 .parent {
    display: grid;
    place-items: center;
}
.ex10 .visual {
    aspect-ratio: 16 / 9;
}
.ex10 .card {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow: hidden;
}
body {
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: rgb(51, 51, 51);
    margin: 0px;
    overflow: hidden auto;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}
.container {
    max-width: 1000px;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
}
a {
    text-decoration: none;
    color: #333333;
}
a[download] {
    padding: 1rem 3rem 1rem 3rem;
}
a[download]:hover {
    border: 1px solid #333333;
    border-radius: .3rem;
}
img {
    max-width: 100%;
}
svg {
    vertical-align: middle;
}
.dark-bg {
    background: #333333;
    color: whitesmoke;
    padding: 1px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.background {
    background: plum;
    width: 100vw;
    max-height: 600px;
    border-radius: 0.5rem;
}
.shadow {
    -webkit-box-shadow: 4px 7px 13px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 7px 13px 0px rgba(0,0,0,0.5);
    box-shadow: 4px 7px 13px 0px rgba(0,0,0,0.5);
}
.color {
    height: 30px;
    width: 90px;
    margin: 20px;
    cursor: pointer;
}
.topbar {
    padding-left: 10px; 
    font-size: 14px; 
    color: #6b6b6b;
    text-transform: uppercase;
}
.border {
    border: 3px solid #333333;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.hidden {
    display: none;
}
.invisible {
    opacity: 0;
}
.mb-5 {
    margin-bottom: 1.25rem;
}
.w-full {
    width: 100%;
}
#image-holder {
    min-height: 572px;
}
#feedback {    
    width: 330px;
    font-size: 9pt;
}
.overlay-container {
    display: flex !important;
    justify-content: center;
    right: 0;
    left: 0;
}
input {
    background: #FEFEFE;
    width: 70%;
    border: none;
    outline: none;
    padding: 10px;
}
input:valid {
    background: white;
}
input[type=color] {
    width: 0px;
    position: absolute;
    right: 40%;
}
.colorpicker:hover {
    cursor: url(colorize-24px.svg)10 15, pointer;
}
.colorpicker::after {
    content: '[ custom ]';
    position: absolute;
    top: 55px;
    width: 90px;
    font-size: 13px;
    text-align: center;
}
.upload_button {
    border: dashed 2px #333333;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}
.footer {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
}
.footer svg {
    fill:whitesmoke;
    width: 16px;
}
.footer span {
    vertical-align: middle;
}
.footer a {
    color: whitesmoke;
}